@media only screen  and (min-width : 1224px){
   
.profile-h1{
    margin-top: 2%;
}
.profile-info{
    padding-top: 2%;
    text-align: left;
    padding-left: 15%;
    
}
.profile-h3{
    display: inline-block;
}
.profile-p{
    display: inline-block;
    margin-left: 3%;
}
.profile-foot{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.pro-foot{
    margin-top: 300px;
}
.rat{
    position: absolute;
    left: 15%;
    bottom: 18.5%
}
.rat-dum{
    position: absolute;
    left: 20%;
    bottom: 17%;
}
.com{
    position: absolute;
    left: 15%;
    bottom: 7%
}
.com-dum{
    position: absolute;
    left: 27%;
    bottom: 6%;
}
}
@media only screen and (max-width : 480px){
    .profile-h1{
        margin: 2%;
    }
    .profile-info{
        margin-top: 10%;
        padding-top: 2%;
        text-align: left;
        padding-left: 10%;
        
    }
    .profile-h3{
        display: inline-block;
    }
    .profile-p{
        display: inline-block;
        margin-left: 3%;
    }
    .pro-foot{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
}