.rider-details-comp{
    position: absolute;
    width: 30%;
    left: 60%;
    top: 25%;
    text-align: left;
}
.rider-name-head, .vehicle-color-head{
    display: inline-block
}
.rider-name-p, .vehicle-color-p{
    display: inline;
    margin-left: 5%;
}
.vehicle-number-head{
    display: inline-block;
}
.vehicle-number-p{
    display: inline;
    margin-left: 5%;
}
.vehicle-name-head{
    display: inline-block;
}
.vehicle-name-p{
    display: inline;
    margin-left: 5%;
}
.location-head{
    display: inline-block;
}
.location-p{
    display: inline;
    margin-left: 5%;
}
.foot-con{
    position: absolute;
    bottom: 0;
    width: 100%;
}