@media only screen  and (min-width : 1224px){
.container{
    margin-top: 80px;
    /* display:flex; */
    /* width: 1680px; 
    height: 400px; */
    background-color: #0F9D58;
    padding-bottom: 40px;
}
.Scam-image{
    margin-top: 45px;
    margin-left: 150px;
    height: 300px;  
}
/* .Scam-firstdiv h1{
    display:
} */
.sec-con{
    margin-top: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    text-align: center;
  }
  
  .text {
    margin-left: 20px;
    color: white;
  }
  .con3 {
    display: flex;
    margin: 0 150px 27px 180px;
  }
  
  .box {
    flex: 1;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
  } 
.ser-img{
    width: 40px;
    height: 40px;
}  
.con4{
    border: 1px solid black;
    background-color: rgb(21, 110, 24);
    color: #ffff;
    padding: 0 10px 5px 2px 5px;
    margin: 0 150px 27px 182px;
}
.con4-header{
    display: inline-block;
    margin: 0;
}
.con4-body{
    width: 100%; /* Set the width of the container */
    display: flex; /* Use flexbox for layout */
}
.left-div {
    flex: 1; /* Make the left div flexible */
}

.right-div {
    flex: 1; /* Make the right div flexible */
}
.con4-box{
    margin: 5px 2px 5px 2px;
}
.con4-box > div {
    color: #ffff;
    padding: 25px;

}
.con4-box{
    /* margin: 15px 45px 5px 05px; */
    padding: 5px;
    align-items: center;
}
.ser-img{
    float: left;
}
.con4-contai{
    text-align: justify; /* Aligns text to justify, creating even spacing between words */
  text-align-last: left; /* Centers the last line of text in the justified block */
   /* Adds space between letters for a symmetrical look */
  word-spacing: 0.5px;
}
.con5-box{
    margin: 0 150px 27px 182px;
}
.con5-body1{
    display: inline-block;
   text-align: left;
   text-align-last: left;
}
.notice-div{
    margin: 0 150px 27px 182px;
}
.notice-div p {
    text-align-last: left;
}
.left-aligh{
    text-align: left;
    text-align-last: left;
      
}
.front-size{
    font-size: .75em;   
}
}
@media only screen and (max-width : 480px){
    .Scam-image{
        width: 100%;
    }
    .image{
        margin-top: 5%;
        margin-bottom: 7%;
    }
    .ser-img{
        width: 23%;
    }
    .sec-con{
        margin-top: 10%;
    }
    .box {
        flex: 1;
        border: 1px solid black;
        padding: 5px;
        margin: 15px;
      } 
    .fake-h5{
        text-align: center;
    }
    .fake-p{
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
    }
    p{
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
    }
}