@media only screen  and (min-width : 1224px){
.b-r-h1{
    margin-top: 20px;
    margin-bottom: 50px;
}
.top-card{
    position: relative;
}
.strt-time{
    position: absolute;
    left: 60%;
    top: -80px;
}
.src-state{
    position: absolute;
    left: 33.5%;
}
.end-time{
    position: absolute;
    left: 25%;
    top: 220%;
}
.dest{
    position: absolute;
    left: 55%;
    top: 200%;
    text-align: left;
}
.dest-state{
    position: relative;
    right:15%;
    top: 120px;
}
.dot-up{
    position: relative;
    left: 29%;
    top: 27px;
}
.dot-down{
    position: relative;
    left: 26%;
    top: 145px;
}
.hr-vertical{

  background-color:#000000;
  color:#000000;
  -webkit-transform:rotate(90deg);
  width: 98px;
  position: absolute;
  left: 455px;
  top: 57.5px;
  height: 2.7px;
  
  
}
.sep-top-book{
    position: absolute;
    top: 180px;
    width: 997.33px;
    left: 18%;
}
.mid-card-book{
    position: relative;
}
.price-p{
    position: absolute;
    left: 22.5%;
    top: 220px;
}
.price-p-amount{
    position: absolute;
    right: 22.5%;
    top: 220px;
}
.sep-btm-book{
    position: absolute;
    left: 18%;
    top: 280px;
    width: 997.33px;
}
.info-card{
    position: relative;
}
.info-p{
    position: absolute;
    left: 22.7%;
    top: 320px;
}
.sep-btm-info{
    position: absolute;
    left: 18%;
    top: 380px;
    width: 997.33px;
}
.ask-p{
    position: absolute;
    top: 410px;
    left: 22.7%;
}
.sep-btm-ask{
    position: absolute;
    left: 18%;
    top: 450px;
    width: 997.33px;
}
.car-type{
    position: absolute;
    left: 22.7%;
    top: 480px;
}
.color-p{
    position: absolute;
    left: 22.7%;
    top: 510px;
}
.bottom-card-book{
    position: relative;
    margin-bottom: 150px;
}
.rule{
    position: relative;
    top: 580px;
   
}
.book-book{
    position: absolute;
    top: 620px;
    
}.foot-book{
    position: absolute;
    top: 1000px;
    width: 100%;
}
}
@media only screen and (max-width : 480px){
    .b-r-h1{
        margin-top: 40px;
    }
    .strt-time{
        margin-left: 45%;
        margin-top: 5%;
    }
    .src-state{
        margin-left: 75px;
        margin-top: 50px;
    }
    .dest-state{
        margin-left: 75px;
    }
    .hr-vertical{
        background-color:#000000;
        color:#000000;
        -webkit-transform:rotate(90deg);
        width: 98px;
        margin-left: 4%;
        position: relative;
        top: 15px;
        height: 2.7px;
    }
    .top-card{
        margin-left: 7%;
        margin-bottom: 50px;
    }
    .dest{
        margin-left: 30%;
        
    }
    .price-p{
        margin-top: 5%;
        
    }
    .sep-btm-book{
        margin-top: 20px;
        width: 100%;
    }
    .sep-top-book{
        width: 100%;
    }
    .info-p{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .sep-btm-ask{
        width: 100%;
    }
    .ask-p{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .car-type{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .book-book{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .foot-book{
        position: absolute;
        width: 100%;
        margin-top: 50px;
    }
}