.ban-1{
    display: inline-block;
    left: 4%;
    
}
.ban-2{
    position: absolute;
    
    left: 37.5%;
}
.ban-3{
    position: absolute;
    right: 3.3%;
}
.cards{
    position: relative;
    
    background-color: #0F9D58;
    padding: 12.5%;
}
.carde{
    position: absolute;
    top: 25%;
    
    width: 25rem;
}