/* @media only screen  and (min-width : 1224px){ */
/* .ban-1{
    display: inline-block;
    left: 4%;
    position: absolute;
    top: 80px;
}
.ban-2{
    position: absolute;
    top: 0;
    left: 500px;
}
.ban-3{
    position: absolute;
    top: 0;
    left: 253.3%;
}*/
.cards{
    /* position: relative; */
    width: 100%;
    margin-left: 0.01%;
    background: linear-gradient(#0F9D58, #3f86aa);
    /* padding: 12.5%; */
}
/*
.carde{
    position: absolute;
   
    
    width: 25rem;
}
.hidden{
    opacity: 0;
    transition: all 1s;
}
.show{
    opacity: 1;
} */
.carde{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}@media screen and (max-width: 800px){
    .carde{
        margin-left: 25%;
    }
}
@media screen and (max-width: 600px){
    .carde{
        
        margin-left: 12%;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 80%;
    }
    
   
    
}
/* }
@media only screen and (max-width : 480px){
    .cards{
        
        position: relative;
        height: 60rem;
        background-color: #0F9D58;
        padding-top: 12.5%;
        padding-left: 8%;
     
    }
    .carde{
        position: absolute;
       
        
        width: 25rem;
    }
    .ban-2{
        margin-top: 280px;
        
    }
    .ban-3{
        margin-top: 560px;
    }
} */