@media only screen  and (min-width : 1224px) {
.hCom{
    margin-top: 26%;
    margin-left: 6.6%;
    margin-right: 4%;
    position: relative;
    margin-bottom: 6.5%;
}
.help-h3{
    text-align: left;
}
.h-p{
    text-align: left;
    width: 40%;
}
.h-cards{
    padding-left: 4%;
    padding-top: 3.6%;
    
}
.h-cards-right{
    position: absolute;
    top: 16%;
    left: 55%;
    padding-right: 5%;
}
.p-right-h{
    width: 100%;
}
}
@media only screen and (max-width : 480px){
    .hCom{
        margin-top: 10%;
        margin-left: 6.6%;
        margin-right: 4%;
        position: relative;
        margin-bottom: 6.5%;
    }
    .h-p{
        text-align: left;
    }
}