
/* @media only screen  and (min-width : 1224px) { */
.hCom{

    position: relative;
    width: 100%;
    margin-top: 5%;
    background: linear-gradient(#0F9D58, #3f86aa);
   padding-bottom: 5%;
   padding-top: 5%;
}
.help-h3{
    text-align: left;
    color:#1b1a0b;
}
.h-p{
    text-align: left;
    width: 40%;
    color:#1b1a0b;
}
.h-cards{
    padding-left: 5%;
    padding-top: 3.6%;
    
}
.h-cards-left{
    display: inline-block;
}
.h-cards-right{
    display: inline-block;
    position: absolute;
    width: 40%;
    margin-left: 45%;
    top: 25%;
    left: 10%;
}
.p-right-h{
    width: 100%;
    color:#1b1a0b;
}
.faq{
    color:#1b1a0b;
}
@media screen and (max-width: 800px) {
    .hCom{
        width: 100%;
        padding-bottom: 150%;
    }
    .h-p{
        width: 80%;
    }
    .h-cards-right{
        display: block;
        top: 60%;
        left: -40%;
        width: 100%;
    }
}
/* }
@media only screen and (max-width : 480px){
    .hCom{
        margin-top: 10%;
        margin-left: 6.6%;
        margin-right: 4%;
        position: relative;
        margin-bottom: 6.5%;
    }
    .h-p{
        text-align: left;
    }
} */