@media only screen  and (min-width : 1224px) {
    .safety{
    padding-top: 3.3%;
    padding-left: 3%;
    padding-bottom: 8%;
    position: relative;
}
.saf-p{
    text-align: left;
    margin-top: 3.4%;
    width: 700px;
    position: relative;
    left: 25%;
}
.what{
    margin-top: 50px;
    margin-left: 50px;
}
.what-p{
    text-align: left;
    margin-top: 120px;
    margin-left: 300px;
    width: 700px;
    display: inline-block;
}
.what-img{
    width: 30%;
    position: absolute;
    top: 320px;
    left: 140px;
    
}
}
@media only screen and (max-width : 480px){
    .safety{
        padding: 5%;
        position: relative;
    }
    .saf-p{
        text-align: left;
    }
    .what-img{
        left: 5%;
        top: 25%;
        position: absolute;
        width: 85%;
    }
    .what{
        margin-top: 100%;
    }
    .what-p{
        text-align: left;
    }
}