body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 252, 252);
    /* Adjust the color as needed */
}
/* Define the styles for the rectangular box */

.wrapper1 {
    margin-right: calc(55% - 350px);
    display: block;
    text-align: center;

}
.wrapper1>h1{
    font-size: 30px;
    
    
}
.wrapper1>h2{
    margin-top: 20px;
    margin-right: calc(44% - 350px);
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rectangular-box {
    align-self: center;
    width: 700px;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 15px;
    background-color: #fff;
    /* Set the background color to white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Add a subtle shadow effect */
}
/* Define the styles for the rows and columns */

.font {
    color: rgb(11, 87, 40);
    font-weight: bold;
    display: inline-block;
}

.row {
    display: flex;
    padding: 5px;
}

.column {
    flex: 1;
    padding: 0px;
    display: inline-block;
}

.profilePic>img{
    height:60px; 
    width: 75px;
}

.column1 {
    width: 75px;
    
}
