.navbar{
    background-color: #0F9D58;
    padding-bottom: 0;
    padding-top: 3px;
}
.logo-brand{
    width: 37%;
}
/*
.nav-content{
    position: absolute;
    right: 0;
}*/
.navbar-brand{
    padding-left: 45px;
}
.image-plus, .a-create{
    display: inline;

}

.dropdown-menu, .dropdown{
    position: absolute;
    left: 155px;
    top: -15px;
}
.search{
    padding-right: 45%;
}
.nv-right-ele{
    position: relative;
    padding-right: 5px;
    left: 65%;
}
.create-ride-nav{
    padding-top: 7%;
    
}
.bor-rad{
    /* background-color: white; */
    display: inline-block;
    border-radius: 40%;
}
.user-icon{
    margin: 2px 2px 5px 5px;
}