.b-r-h1{
    margin-top: 20px;
    margin-bottom: 50px;
}
.top-card{
    position: relative;
}
.strt-time{
    position: absolute;
    left: 25%;
    top: 5%;
}
.src-state{
    position: absolute;
    left: 31.7%;
}
.end-time{
    position: absolute;
    left: 25%;
    top: 220%;
}
.dest{
    position: absolute;
    left: 31%;
    top: 200%;
    text-align: left;
}
.dest-state{
    position: relative;
    right: 15.6%;
    top: 155px;
}
.dot-up{
    position: relative;
    left: 29%;
    top: 27px;
}
.dot-down{
    position: relative;
    left: 29%;
    top: 145px;
}
.hr-vertical{

  background-color:#000000;
  color:#000000;
  -webkit-transform:rotate(90deg);
  width: 98px;
  position: absolute;
  left: 401px;
  top: 55px;
  height: 2.7px;
  
  
}
