@media only screen  and (min-width : 1224px){
.input-create{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 50px;
    align-items: left;
    width: 300px;
}
.form-create{
    margin-top: 0px;
    margin-left: 50px;
    margin-left: 50px;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 100px;
    text-align: left;
    position: relative;
    background-color: #fff;
    padding-bottom: 70px;
    border-radius: 25px 25px 25px 25px;
    width: 90%;
    margin-right: 50px;
    left: 28px;

}
.v-no{
    position: absolute;
    left: 300px;
}
.so{
    position: absolute;
    left: 300px;
    top: 200px;
}
.desti{
    position: absolute;
    left: 300px;
    
}
.trip{
    position: absolute;
    left: 300px;
    top: 300px;
}
.date{
    position: absolute;
    left: 300px;
    top: 353px;
}
.time{
    position: absolute;
    left: 300px;
    top: 401px;
}
.av-seat{
    position: absolute;
    left: 300px;
    top: 451px;
}
.phone{
    position: absolute;
    left: 300px;
    top: 503x;
}
.img-create{
    display: block;
    width: 40%;
    position: absolute;
    top: 50px;
    right: 60px;
}
.form-create{
    margin-bottom: 0px;
}
/* create ride button */
.createRideButton{
    margin-bottom: 20px;
}
.btn-login{
    margin-bottom: 30px;
}
.veh-color{
    position: absolute;
    left: 300px;
}
/* .form-create > label{

} */
}
@media only screen and (max-width : 480px){
    .img-create{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 15%;
    }
    .form-create{
        position: relative;
    }
    .input-create{
        text-align: left;
        position: absolute;
        left: 47%;
    }
    .label-veh{
        position: absolute;
        left: 20%;
    }
    .btn-login{
        margin-bottom: 25px;
    }
}