.input-create{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 50px;
    align-items: left;
    width: 300px;
}
.form-create{
    margin-top: 0px;
    margin-left: 50px;
    margin-left: 50px;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 100px;
    text-align: left;
    position: relative;
    background-color: #fff;
    padding-bottom: 70px;
    border-radius: 25px 25px 25px 25px;
    width: 90%;
    margin-right: 50px;
    left: 28px;

}
.v-no{
    position: absolute;
    left: 300px;
}
.so{
    position: absolute;
    left: 300px;
    top: 150px;
}
.desti{
    position: absolute;
    left: 300px;
    
}
.trip{
    position: absolute;
    left: 300px;
    top: 250px;
}
.date{
    position: absolute;
    left: 300px;
    top: 300px;
}
.time{
    position: absolute;
    left: 300px;
    top: 350px;
}
.av-seat{
    position: absolute;
    left: 300px;
    top: 400px;
}
.phone{
    position: absolute;
    left: 300px;
    top: 450px;
}
.img-create{
    display: block;
    width: 40%;
    position: absolute;
    top: 50px;
    right: 60px;
}
.form-create{
    margin-bottom: 0px;
}
/* create ride button */
.createRideButton{
    margin-bottom: 20px;
}
.btn-login{
    margin-bottom: 30px;
}
.veh-color{
    position: absolute;
    left: 300px;
}
/* .form-create > label{

} */
