.container-foot{
    margin-bottom: 0;
    /* background-color: #0F9D58; */
    position: relative;
    top: 25px;
    height: 110px;
}
.foot-text{
    color: black;
}
.ms-3{
    color: black;
    height: 70%;
}
