.helpHome{
    position: relative;
    padding: 35px;
}
.hh-h2, .hh-h3{
    text-align: left;
}
.hh-p{
    text-align: left;
}
.safe{
    margin-left: 0;
    position: absolute;
    left: 50px;
    top: 370px;
}
.hh-h3{
    display: inline-block;
}
.traffic{
    width: 25%;
    position: absolute;
    top: 340px;
    left: 500px;
}
.h3-safe{
    position: absolute;
    top: 240px;
    left: 40px;
}
.h3-traffic{
    position: absolute;
    top: 240px;
    left: 480px;
}
.friends{
    width: 20%;
    position: absolute;
    top: 300px;
    right: 100px;
}
.h3-friends{
    position: absolute;
    top: 240px;
    right: 250px;
}