.feedback ._body ._box {
    width: 90%; /* Adjusted width to cover more screen space */
    max-width: 700px; /* Limit maximum width */
    padding: 30px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}

.feedback ._body ._box form {
    width: 100%; /* Adjusted */
    display: flex;
    flex-wrap: wrap; /* Wrap the elements to the next line when they exceed the container width */
    justify-content: space-between; /* Distribute space between the elements */
}

.feedback ._body ._box .input-field {
    width: calc(45% - 10px); /* Adjusted width to fit two fields in a row with spacing */
    margin-bottom: 20px;
}

.feedback ._body ._box label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
    width: 100%; /* Adjusted */
}

.feedback ._body ._box input[type="text"],
.feedback ._body ._box input[type="email"],
.feedback ._body ._box input[type="number"],
.feedback ._body ._box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedback ._body ._box button {
    width: 100%;
    padding: 10px;
    background-color: #4ab74a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback ._body ._box button:hover {
    background-color: #3a943a;
}

.feedback_btn {
    width: 100%;
	height: 50px;
	outline: none;
	border: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border-radius: 25px; /* Half of the button's height */
	background-color: #34a853;
	color: white;
	margin-top: 10px;
}