.Botton{
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.gmail-reg{
    background-color: rgb(245, 61, 61);
}
#foott{
    background-color: "black";
}
.bool-radio{
    display: inline;
}
.are-rider{
    display: inline;
    margin-left: 4px;
}
.mb-container{
    margin-bottom: 7.5%;
}
.sign-up{
    background: linear-gradient(#0F9D58, #3f86aa);
}
.log-g{
    margin-bottom: 100px;
}
/* .sign-inp{
    width: 900px;
} */