.log-em{
  padding-bottom: 1%;
  background:linear-gradient( #0F9D58,  #3f86aa);
  
}
body{
  margin: 0;
  padding: 0;
}
/* .footer{
  position: absolute;
  width: 100%;
  
  left: 0;
} */
.right-container{
  display: inline-block;
  padding-left: 0;
  margin-top: 0.7%;
  
}
.react-tel-input .form-control{
width: 100%
}
MDBInput{
  border: 5px;
}
.vl {
  border-left: 2px solid rgb(0, 0, 0);
  height: 150px;
  position: absolute;
  left: 49%;
  margin-left: -3px;
  top: 25%;
}
.or{
  position: absolute;
  left: 47.25%;
  top: 45%;
}
.vl-2{
  border-left: 2px solid rgb(0, 0, 0);
  height: 150px;
  position: absolute;
  left: 49%;
  margin-left: -3px;
  top: 48%;
}
.log-img{
  position: absolute;
  left: 0px;
  width: 40%;
  bottom: 220px;
}
.btn-login{
  margin-right: 12px;
  
  display: inline-block;
  
}
.img-fluid{
  width: 100%;
  border-radius:25px;
}
.email-form-log{
  /* margin-left: 25%; */
  width: 60%;
  position: absolute;
  top: 31%;
  bottom: 59%;
  left: 40%;
}
.checkkk{
  color: #000;
  margin-left: 20%;
  position: absolute;
  top: 30%;
  left: 45%;
}
.log-btnn{
  margin-left: 40%;
  
}
.have-acc{
  margin-left: -10%;
  color: #000;
  
}

.log-e{
  position: absolute;
  top: 110%;
  margin-left: 5%;
}
.orrrr{
  margin-right: 150px;
  margin-top: 70px;
  color: #000;
}
.have-acc-g{
  margin-left: 33%;
  
  color: #000;
}
.link{
  color: #123456;
}
.abcde{
  position: absolute;
  left: 52%;
  bottom: 52%;
}
.abcdfe{
  position: absolute;
  top: 42%;
  left: 51%;
}
.mb-4{
  width: 60%;
  margin-left: 20%;
  background-color: white;
}
.checkkk-a{
  color:#000;
  margin-top: 7%;
  margin-left: 15%;
}
@media only screen and (max-width : 800px){
  /* .Botton{
    position: absolute;
    top: 120%;
  } */
  .botton{
    
  }
  .checkkk{
    margin-top: 80%;
    left: 0;
  }
  .abcde{
    width: 40%;
    top: 51%;
    left: 5%;
  }
  .orrrr{
    position: absolute;
    left: 45%;
  }
  .email-form-log{
    top: 49%;
    right: 5%;
    width: 40%;
  }
  .log-em{
    padding-bottom: 55%;
    width: 100%;
  }
  
  .have-acc-g{
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
  }
}